global
    maxconn 100
    log stdout format raw local0

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:5000
    stats enable
    stats uri /
    stats refresh 5s

listen postgres_write
    bind *:5001
    mode tcp
    option tcp-check
    tcp-check connect
    default-server inter 3s fall 3 rise 2
    server master master:5432 check

listen postgres_read
    bind *:5002
    mode tcp
    option tcp-check
    tcp-check connect
    default-server inter 3s fall 3 rise 2
    server slave1 worker1:5432 check
    server slave2 worker2:5432 check backup
